/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

header {
  padding: 15px 0;
  margin: 0 auto;
}

header .heading {
  /* headerタグ内のheadingクラスにのみ反映される */
  font-size: 32px;
  width: 100%;
  height: 400px;
  background-image: url(img/header.jpg);
  background-size: cover;
  background-position: bottom;
}

header .heading-text {
  padding: 20px 20px;
  margin: 0 auto;
}

main {
  width: 840px;
  margin: 50px auto;
}

.box1 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #848282;
}

.box2 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #848282;
}

.box3 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #848282;
}

.box4 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #848282;
}

.boxes-text {
  font-size: 16px;
}